{% extends 'base.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block content %}
    <h2>404 - Page introuvable</h2>
    <p>Désolé, la page que vous recherchez n'existe pas.</p>
{% endblock %}
