{% extends 'base.twig' %}

{% block title %}
  Page introuvable
{% endblock %}

{% block content %}
  <div class="container p-4 d-flex justify-content-center flex-column text-center align-items-center">
    <h2>404 - Page introuvable</h2>
    <p>Désolé, la page que vous recherchez n'existe pas.</p>
  </div>
{% endblock %}
