{% extends 'base.twig' %}

{% block title %}
  Accueil
{% endblock %}

{% block content %}
  <div class="title text-center p-4">
    <h3 class="fs-1">à propos</h3>
  </div>

  <p>ouais petit php</p>
{% endblock %}
