<header class="site-header">
    <div class="container">
      <h1>NookZone</h1>
      <img src="/images/logo.png" alt="Logo NookZone" class="logo">
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/items">Objets</a></li>
                <li><a href="/about">À propos</a></li>
            </ul>
        </nav>
        <div class="compte">
            <img src="/images/logocompte2.png" alt="Compte" class="compte-icon">
            {% if isConnected %}
                <span>{{ username }}</span>
            {% else %}
                <span>Se connecter</span>
            {% endif %}
        </div>
    </div>
</header>
